body {
  background-image: url('Image/SpringtrapDanceBG.gif');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.TextColor{
    color:rgb(84, 124, 84);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers heading and image horizontally */
    width: 500px; /* match image natural width */
    margin: 20px auto; /* center container and add top spacing */
    gap: 8px; /* spacing between heading and image */
   
}

#audioButton {
    cursor: pointer;
    width: 100%; /* fill the .hero width */
    display: block;
}

#audioButton:hover {
    opacity: 0.7;
}